.form-row {
  margin-bottom: 1rem;

  .form-label {
    display: block;
    font-size: var(--small-tex);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
  }

  .form-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--gray-11);
    background-color: var(--white-1);
    background-clip: padding-box;
    border: 1px solid var(--white-17);
    border-radius: 0.25rem;
    outline: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
