/* The classes container-wrapper, container-wrapper-auth, tabs
tabs-auth, tab-group, tab, login, tab-item
all inherit their css properties from the class AuthTabs.scss.
I decided to do it this way for simplicity's sake. In an ideal
situation, you wouldn't do this.
*/
.reset-password-tabs {
  height: 340px;

  .tabs-auth {
    .tab-group {
      .tab .reset-password {
        width: 100%;
      }
    }
  }
}

.reset-password-form {
  .form-input-container {
    margin-bottom: 20px;
  }

  .auth-button {
    color: var(--white-1);
    background-color: var(--primary-1);
    border-color: var(--primary-1);
    display: block;
    width: 100%;
    cursor: pointer;
    font-weight: 700;

    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.5;
      background-color: var(--primary-1);
      border-color: var(--primary-1);
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .login {
    display: flex;
    padding-top: 10px;
    cursor: pointer;
    justify-content: flex-end;

    .arrow-left {
      margin-right: 2px;
      margin-top: 2px;
    }

    &:hover {
      color: var(--primary-1);
    }
  }
}
