@mixin title-text-styles {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  align-self: center;
}

.suggestions-list-container {
  display: grid;
  grid:
    "suggestions-header"
    "hr"
    "suggestions-list";

  .suggestions-header {
    grid-area: suggestions-header;
    display: grid;
    grid-template-columns: max-content;
    color: var(--black-3);
    font-size: 16.8px;
    padding: 0;
    height: 50px;

    .title-text {
      @include title-text-styles;

      font-weight: 600;
      font-size: 18px;
      padding-left: 20px;
    }
  }

  hr {
    grid-area: hr;
    border: 0;
    border-top: 1px solid var(--white-4);
    margin: 0;
  }

  .suggestions-container {
    padding: 0 20px;
    grid-area: suggestions-list;
    grid:
      "suggestions"
      "view-more";

    .suggestions {
      max-height: 480px;
      overflow-y: scroll;
      grid-area: suggestions;
      display: grid;
      color: var(--white);
      padding: 0;
      margin-top: 20px;
      cursor: pointer;

      .suggestions-item {
        display: grid;
        grid-template-columns: 40px 1fr max-content;
        margin-bottom: 30px;
        width: 100%;

        .title-text {
          @include title-text-styles;

          color: var(--black-3);
          font-weight: 600;
          font-size: 14px;
          margin-left: 10px;
        }

        .add-icon {
          color: var(--white-15);
          font-size: 24px;

          .follow {
            background-color: var(--primary-1);
            color: var(--white-1);
            font-weight: 700;
            font-size: 14px;
            padding: 2px 6px;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    .view-more {
      grid-area: view-more;
      color: var(--primary-1);
      padding-bottom: 10px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
