.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  display: grid;
  grid-template-columns: 1;
  grid-auto-rows: 1fr;
  grid-template-areas: "modal";

  .modal-image {
    align-self: center;
    justify-self: center;
    position: absolute;
    width: 500px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
    min-height: 600px;
    border-radius: 8px;
    pointer-events: all;
    background-color: var(--white-1);
    flex-direction: column;

    &-header {
      h2 {
        text-align: center;
        color: var(--black-5);
        font-size: 1.25rem;
        text-overflow: ellipsis;
        font-weight: 700;
        max-width: 100%;
      }
    }

    &-container {
      height: 90vh;
      overflow-y: scroll;
      margin: 10px 5px;
      display: grid;
      grid-template-columns: 158px 158px 158px;
      grid-template-rows: 99px 99px 99px;
      grid-gap: 5px;

      .grid-image {
        width: 158px;
        height: 99px;
        object-fit: cover;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: var(--white-11);
  opacity: 0.6;
}
