.conversation-container {
  display: grid;
  grid:
    "conversation-header"
    "search-container"
    "conversation-list";

  &-header {
    grid-area: conversation-header;
    display: grid;
    grid-template-columns: 40px max-content;
    color: var(--black-3);
    font-size: 16.8px;
    padding: 0;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

    .header-img {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      align-self: center;
    }

    .title-text {
      align-self: center;
      font-weight: 700;
      font-size: 18px;
      padding-left: 10px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      line-height: 50px;
    }
  }

  &-search {
    grid-area: search-container;
    position: relative;

    .search-input {
      width: 100%;
      padding-left: 40px;
      height: 45px;
      line-height: 45px;
      background: transparent;
      border: 1px solid var(--white-4);
      font-size: 14px;
      color: var(--gray-11);
      border-radius: 10px;
      outline: medium none;
      overflow: visible;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .search {
      position: absolute;
      top: 8px;
      left: 15px;
      color: var(--primary-1);
      font-size: 16px;
      height: 30px;
    }

    .times {
      position: absolute;
      top: 8px;
      right: 15px;
      color: var(--gray-3);
      font-size: 10px;
      font-weight: normal;
      height: 30px;
      cursor: pointer;
    }

    input::placeholder {
      color: var(--gray-8);
      font-weight: bold;
    }
  }

  &-body {
    overflow-y: scroll;
    height: 780px;

    .conversation {
      grid-area: conversation-list;
      display: grid;
      color: var(--white-1);
      padding: 0;
      margin-bottom: 10px;
      padding-top: 10px;

      &.active {
        background: var(--white-4);
      }

      &:hover {
        cursor: pointer;
      }

      .active {
        background-color: var(--white-7);
      }

      .conversation-item {
        display: grid;
        grid-template-columns: 40px 1fr max-content;
        margin-bottom: 20px;
        width: 100%;
        padding: 10px;

        .avatar {
          grid-row: span 2;
          height: 40px;
          width: 40px;
          border-radius: 100%;
        }

        .title-text {
          color: var(--black-3);
          font-weight: 700;
          font-size: 14px;
          margin-left: 10px;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
          height: 25px;
        }

        .selected-user-text {
          height: 40px;
          display: flex;
          align-items: center;
        }

        .created-date {
          color: var(--black-3);
          white-space: nowrap;
          font-size: 12px;
        }

        .conversation-message {
          font-size: 12px;
          color: var(--gray-3);
          grid-column: span 2;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
          margin-left: 10px;

          .icon {
            color: var(--primary-1);
            font-size: 8px;
            float: right;
          }

          .not-read {
            color: var(--gray-3);
            font-size: 10px;
          }

          .read {
            width: 13px;
          }

          .message-deleted {
            font-style: italic;
            color: var(--gray-9);
            opacity: 0.6;
          }
        }

        &:hover {
          background-color: var(--white-7);
          cursor: pointer;
        }
      }

      .conversation-not-read {
        .title-text,
        .created-date,
        .conversation-message {
          color: var(--black-1);
          font-weight: bold;
        }
      }
    }
  }
}
