.modal-reactions-container {
  padding: 10px;
  height: 600px;

  &-list {
    display: grid;
    grid-template-areas: "img name . follow";
    grid-template-columns: 50px auto 1fr 100px;
    grid-template-rows: 1fr;
    margin-bottom: 20px;

    .img {
      grid-area: img;
      position: relative;

      .reaction-icon {
        width: 17px;
        height: 17px;
        position: absolute;
        bottom: 2px;
        right: 1px;
        object-fit: cover;
      }
    }

    span {
      grid-area: name;
      padding-left: 16px;
      font-weight: bolder;
      margin: auto;
    }
  }
}
