.password-change-container {
  height: 330px;
  background-color: var(--white-1);
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 100px;

  .eye-icon {
    vertical-align: middle;
    margin-left: 5px;
  }

  .btn-group {
    float: left;

    .update {
      display: inline-block;
      font-weight: 700;
      border: 1px solid transparent;
      padding: 8px 14px;
      line-height: 1.5;
      color: var(--white-1);
      background-color: var(--primary-1);
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      margin-right: 5px;

      &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
        background-color: var(--primary-1);
        border-color: var(--primary-1);
      }
    }
  }
}
