.chat-inputarea {
  display: flex;
  grid-template-areas: "list input button";
  grid-template-rows: 1fr;
  grid-template-columns: 120px max-content 80px;
  padding: 0 10px;
  background: var(--white-1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;

  form {
    display: flex;
    flex-flow: nowrap;
    width: 100%;
  }

  .chat-list {
    grid-area: list;
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    border: 1px solid;
    border-radius: 10px;
    margin-right: 5px;

    .chat-list-item {
      border-radius: 5px;
      padding: 0 5px;
      cursor: pointer;
      margin: auto;
    }
  }

  .form-row {
    width: 100%;
    margin-bottom: 0;

    .chat-input {
      grid-area: input;
      flex: 1;
      padding: 10px;
      width: 100%;
      height: 45px;
      line-height: 45px;
      background: transparent;
      border: 1px solid var(--white-5);
      font-size: 14px;
      color: var(--black-2);
      border-radius: 10px;
      outline: medium none;
      overflow: visible;

      &:focus {
        border: 1px solid var(--primary-1);
      }
    }

    .file-input {
      display: none;
    }
  }

  .paper {
    grid-area: button;
    color: var(--primary-1);
    font-size: 25px;
    line-height: 32px;
    max-width: 80px;
    border: none;
    background: none;
    padding: 7px;
    outline: none;
    cursor: pointer;
  }
}

.emoji-picker {
  position: absolute;
  bottom: 55px;
  left: 10px;
  z-index: 2;
}

#loading {
  background: var(--gray-18);
  color: var(--white-1);
  font-size: 12px;
  border-radius: 3px;
  border: var(--gray-18);
  position: absolute;
  padding: 5px;
  bottom: 55px;
  left: 60px;
}
