.gallery-image {
  display: block;
  width: 352px;
  height: 352px;
  position: relative;

  &__crop {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
  }

  &__media {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 60px;
    background: var(--black-1);
    color: var(--white-1);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    opacity: 0.7;
    padding: 5px 20px;

    .figure-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;

      .figure-body {
        display: flex;
        flex-direction: column;
        padding-left: 8px;

        .figure-title {
          font-weight: 700;
        }

        .figure-date {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  &__delete {
    position: absolute;
    top: 15px;
    left: auto;
    right: 15px;
    background: var(--white-1);
    color: var(--red-1);
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;

    .trash {
      color: var(--primary-1);
    }
  }
}
