.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 10%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog {
    background: var(--white-1);
    width: 80vw;
    max-width: 400px;
    border-radius: 0.25rem;
    padding: 2rem 1rem;
    text-align: center;

    h4 {
      margin-bottom: 0;
      line-height: 1.5;
    }

    .btn-container {
      display: flex;
      justify-content: space-around;

      .btn {
        background: transparent;
        padding: 0.5rem 1rem;
        margin-top: 2.25rem;
        border-radius: 0.25rem;
        cursor: pointer;
      }

      .cancel-btn {
        border-color: var(--primary-1);
        color: var(--primary-1);
        font-weight: bold;
      }

      .confirm-btn {
        background-color: var(--red-1);
        border: 1px solid var(--red-1);
        color: var(--white-1);
        font-weight: bold;
      }
    }
  }
}
