.profile-banner {
  position: relative;
  margin-bottom: 30px;
  overflow-x: hidden;

  .profile-banner-image {
    overflow-y: hidden;
    z-index: 1;
    height: 430px;
    position: relative;

    .delete-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      font-weight: 700;

      &:hover {
        opacity: 0.9;
      }

      .remove {
        padding: 5px 10px;
        font-weight: 800;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        outline: 0;
        color: var(--white-1);
        background-color: var(--red-1);
      }
    }

    > img {
      width: 100%;
    }

    h3 {
      color: var(--white-1);
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }
  }

  .profile-row::after {
    content: "";
    clear: both;
    display: table;
  }

  .profile-banner-data {
    display: grid;
    grid-template-areas: "image name . add-cover-photo";
    grid-template-columns: 180px 50px 1fr 1fr;
    grid-template-rows: 1fr;
    right: 0;
    z-index: 2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;

    .profile-pic {
      position: absolute;
      grid-area: image;
      height: 180px;
      left: 59px;
      margin-top: -155px;
      box-shadow: 0 0 0 5px var(--white-1);

      &-select {
        text-align: center;

        .form-row {
          margin-bottom: 0;

          .inputFile {
            display: none;
          }
        }

        .inputFile + label,
        .camera {
          border: none;
          cursor: pointer;
          color: var(--primary-1);
          font-size: larger;
        }
      }
    }

    .profile-name {
      grid-area: name;
      position: absolute;
      left: 70px;
      transform: translateY(-50px);
      color: var(--white-1);
      font-size: 28px;
      font-weight: bold;
      height: 50px;
      width: 100%;
    }

    .profile-select-image {
      grid-area: add-cover-photo;
      position: relative;
      width: 100%;
      top: -60px;
      line-height: 1;
      cursor: pointer;
      float: right;

      .form-row {
        margin-bottom: 0;

        .inputFile {
          display: none;
        }
      }

      label {
        background-color: var(--white-1);
        color: var(--black-1);
        border: none;
        cursor: pointer;
        padding: 1rem 50px;
        border-radius: 12px;
        float: right;
        margin-right: 10px;
        display: flex;
        align-items: center;

        span {
          padding-left: 5px;
          padding-top: 2px;
        }
      }

      .menu {
        background: var(--white-1);
        border-radius: 8px;
        position: absolute;
        top: 55px;
        right: 0;
        margin-right: 10px;
        width: 300px;
        box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            border-bottom: 1px solid var(--white-4);
            padding: 5px 10px;

            .item {
              text-decoration: none;
              color: var(--black-1);
              padding: 15px 20px;
              display: block;

              &:hover {
                background-color: var(--white-4);
              }
            }
          }
        }
      }
    }
  }

  .profile-banner-items {
    background-color: var(--white-1);
    height: 60px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;

    .banner-nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 55px;

      &-item {
        list-style: none;
        cursor: pointer;
        padding: 0 15px;

        .active {
          color: var(--primary-1);
        }

        &-name {
          display: flex;
          color: var(--gray-17);
          font-size: 16px;
          font-weight: 600;

          &-icon {
            margin: auto;
            text-align: center;
          }

          .title {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .save-changes-container {
    position: absolute;
    height: 60px;
    line-height: 60px;
    background-color: rgb(0 0 0 / 40%);
    z-index: 10;
    width: 100vw;
    padding: 4px 16px;

    .save-changes-box {
      width: 1152px;
      padding-right: 20px;
      display: grid;
      grid-template-areas: "text spinner buttons";
      grid-template-columns: 1fr 100px 1fr;
      grid-template-rows: 1fr;

      .save-changes-text {
        grid-area: text;
        overflow-x: hidden;

        span {
          color: var(--red-4);
          float: left;
          font-weight: 500;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }

      .spinner-container {
        grid-area: spinner;
        position: relative;
      }

      .save-changes-buttons {
        grid-area: buttons;
        text-align: right;

        &-bg {
          padding: 4px;
          height: 44px;
          line-height: 44px;

          .cancel {
            padding: 0 12px;
            margin-right: 10px;
            border-radius: 6px;
            height: 36px;
            width: 125px;
            color: var(--white-1);
            background-color: var(--red-1);

            &:hover {
              opacity: 0.9;
            }
          }

          .save {
            background-color: var(--primary-1);
            width: 181px;
            border-radius: 6px;
            height: 36px;
            color: var(--white-1);

            &:hover {
              opacity: 0.9;
            }
          }
        }

        .change-btn {
          font-weight: 800;
          text-align: center;
          vertical-align: middle;
          border: 1px solid transparent;
          line-height: 1.5;
          font-size: 14px;
          border-radius: 5px;
          cursor: pointer;
          outline: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .profile-banner-data {
    .profile-name {
      font-size: 30px;
    }

    .profile-select-image {
      .inputFile + label {
        padding: 0.5rem 25px;
        line-height: 2;
      }
    }
  }
}
