.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  display: grid;
  grid-template-columns: 1;
  grid-auto-rows: 1fr;
  grid-template-areas: "modal";
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: var(--white-11);
  opacity: 0.6;
}
