.auth-inner {
  width: 450px;
  min-height: 380px;
  margin: auto;
  background: var(--white-1);
  padding: 40px 55px 45px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.3s;
}