@import "https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap";
@import "src/colors/variables.scss";
@import "react-loading-skeleton/dist/skeleton.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
  height: 100vh;
  width: 100%;
  background-color: var(--white-10);
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.button {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.notifications,
.followers,
.following,
.people,
.photos {
  max-width: 1152px;
  margin: auto;
  height: 40px;
  background-color: var(--white-1);
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 5px;
}

.empty-page {
  max-width: 1152px;
  background-color: var(--white-1);
  padding: 24px;
  border-radius: 16px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.avatar-skeleton {
  width: 50px;
  height: 50px;
  line-height: 1;
}

.alerts {
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.alert-error {
  background-color: var(--red-7);
  border-color: var(--red-8);
  color: var(--red-6);
}

.alert-success {
  color: var(--green-1);
  background-color: var(--green-2);
  border-color: var(--green-3);
}

.message-loading {
  background-color: var(--white-19);
  height: 90vh;
  border: 1px solid var(--white-1);

  .spinner {
    width: 30%;
    transform: none;
  }
}
